* {
    margin: 0px;
    padding: 0px;
    scroll-behavior:smooth;
}

body {
    overflow: auto;
    scroll-snap-type: y mandatory;
    width: fit-content;
}

.S1 {
    scroll-snap-align: start;
    background-color: lightgoldenrodyellow;
    width:100%;
    height: 100vh;
    /*text-align: center;*/
   /* background-image: url('Image/BG.png');*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5)) , url(Image/BG.png);
    background-clip: none;
    background-position: fixed;
    background-color: rgba(red, green, blue, 0,1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;

    
}

.S1 h1 {
    color: rgb(255, 255, 255);
    font-size: 13vh;
    
}

#classifier {
    color: coral;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

.sticky nav {
    list-style: none;
    height: 10vh;
    display: inline-block;
    background-color: black;
    width: 100%;
    position: sticky;
}

.sticky nav ul li {
    
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.sticky nav ul h1 {
    text-align: center;
    float: right;
    position: relative;
    top: 1.5px;
    left: -10px;
    color: WHITE;
    font-size: 15px;

}

.sticky nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.sticky a:hover {
    font-size: 16px;
    transition: 0.4s;
}
.sticky nav ul {
    padding: 20px 0px;
}

.sticky {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1;
}

#S2 {

    width: 100%;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    height: 100vh;
    grid-template-columns: 42% 38%;
    text-shadow: 0px 4px 12px #b13232;
    color: white;
    background-color: coral;
}


.AboutMe-Wrapper {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(62px, 0px);
    grid-template-columns: 120% 113%;
    width: 66%;
    margin: 109px;
    height: fit-content;
}

.AboutMe-Wrapper nav {
    grid-row: 3;
    grid-column: 2;
}

.AboutMe-Wrapper nav ul li {
    display: inline-block;
    width: 55px;
    font-size: 31px;
}

#S2 img {
    grid-row: 1;
    width: 88%;
}

#S2 h1 {
    grid-row: 1;
    grid-column: 2;
    height: fit-content;
}



.Graduation {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    position: relative;
    top: 15px;
    height: fit-content;
}

.Graduation li {
    text-decoration: none;
    display: inline-block;
}


.InfoShower {
    display: grid;
    grid-row: 4;
    grid-column: 2;
    width: 99%;
    height: 278%;
    backdrop-filter: blur(52px);
}


.Wrk-exp {
    display: grid;
}

.Wrk-exp h1 {
    grid-column: 1;
}

.Wrk-exp ul {
    list-style: none;
    display: grid;
    grid-gap: 5px;
}



.abt-SubMenu1 {
    display: none;
}
.sticky nav ul li:hover .abt-SubMenu1 {

    display: block;
    position: absolute;
    background: tomato;
    margin-top: 4pxpx;
    margin-left: -15px;

}

.sticky nav ul li:hover .abt-SubMenu1 ul {
    display: block;
    margin: 10px;
}


#S3 {
    width: 100%;
    height: 125vh;
    display: grid;
    grid-auto-rows: 249px;
    grid-template-columns: 3% 96% auto;
    grid-template-rows: auto auto;
    background-color: darksalmon;
    background-size: cover;
    color: white;

}

#S3 main {
        display: contents;
}
#S3 h1 {
    margin-top: 62px;
    grid-column: 0;
    grid-row: 1;
    color: white;
    text-decoration: underline;
    width: max-content;
}


#S3 main section:nth-child(1) {
    grid-row: 4;
    grid-column: 2;
    backdrop-filter: blur(50px);
    grid-auto-rows: 61px 50%;
    display: grid;
    height: 82%;
    background-color: brown;
}

#S3 main section:nth-child(1) h1 {
    margin-top: 62px;
    grid-column: 0;
    grid-row: 1;
    color: white;
    text-decoration: underline;
}

#S3 main section:nth-child(2) {
    grid-row: 3;
    grid-column: 2;
    color: brown;
    background-color: whitesmoke;
    grid-auto-rows: 61px 50%;
    display: grid;
    height: 82%;
}

#S3 main section:nth-child(2) h1 {
    margin-top: 62px;
    grid-column: 0;
    grid-row: 1;
    color: brown;
    text-decoration: underline;
}

#S3 main section:nth-child(3) {
    grid-row: 1;
    grid-column: 2;
    background-color: brown;
    grid-auto-rows: 61px 70%;
    display: grid;
    height: 82%;
    margin-top: 62px;
}


.s3h1 {
    margin-left: 42px;
    position: relative;
    top: -48px;
}

.Wrk-DevenStudios {
    margin-left: 30px;
}

.Wrk-DevenStudios-pro {
    grid-column: 2;
    grid-row: 2;
}

.Wrk-DevenStudios-pro li {
    list-style: none;
}


.Wrk-IgnI {
    margin-left: 30px; 
}

.Wrk-IgnI-pro {
    grid-column: 2;
    grid-row: 2;
    margin-left: -37px;
}

.Wrk-IgnI-pro li {
    list-style: none;
    padding: 5px 0px;
}



.Wrk-Hamba {
    margin-left: 30px;
}

.Wrk-Hamba-pro {
    grid-column: 2;
    grid-row: 2;
    margin-left: -31px;
    color: white;
}

.Wrk-Hamba-pro li {
    list-style: none;
}



#S4 {
    width: 100%;
    height: 300vh;
    background-size: cover;
    background-color: coral;
    display: grid;
    grid-auto-rows: 115px 115px 100px 100px 100px;
    grid-auto-columns: 40% auto auto auto auto;
}


#S4 p {  
    grid-row: 2;
    grid-column: 1;
    width: fit-content;
    color: white;
    margin-left: 50px;
}

#S4 h1 {
    grid-row: 1;
    margin-top: 76px;
    width: max-content;
    grid-column: 1;
    color: white;
    text-decoration: underline;
    margin-left: 50px;
}

.projects {
    grid-row: 4;
    grid-column: 1;
    margin-left: 27px;
    
}


.DiceRoller {
    display: grid;
    grid-auto-columns: 305px 289px 100px 100px;
    grid-auto-rows: 28px 125px 100px;
    color: white;
}

.DiceRoller h2 {
    grid-row: 1;
    grid-column: 2;
    text-decoration: underline;
}

.DiceRoller h3 {
    grid-row: 2;
    grid-column: 2;
}

.ArcherShot {
    color: white;
    grid-row: 10;
    grid-column: 1;
    margin-left: 30px;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-auto-columns: 268px 301px;
    margin-top: -52px;
}

.ArcherShot Video {
    width: 207%;
}

.ArcherShot-H2 {
    grid-row: 1;
    grid-column: 3;
    text-decoration: underline;
}

.ArcherShot h3 {
    grid-row: 1;
    grid-column: 3;
    margin-top: 29px;
}


.DrunkWalker {
    color: white;
    grid-row: 13;
    grid-column: 1;
    margin-left: 30px;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-auto-columns: 268px 81px;
}

.DrunkWalker video {
    width: 119%;
}

.DrunkWalker h2 {
    grid-row: 1;
    grid-column: 3;
    height: 0px;
}

.DrunkWalker h3 {
    grid-row: 1;
    grid-column: 3;
    margin-top: 30px;
}


.Cv-text {
    grid-row: 4;
    grid-column: 2;
    position: relative;
    top: 77px;
    z-index: 0;
    height: fit-content;
}

.Cv-text a{
    text-decoration: none;
}

.abtme-p {
    grid-column: 2;
    grid-row: 1/6;
    position: relative;
    top: 77px;
    z-index: 0;
    height: fit-content;
}

/*#Contact-Pg {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-auto-rows: 249px;
    grid-template-columns: auto 50% auto;
    grid-template-rows: auto auto;
    background-size: cover;
}*/

/*
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto Condensed;
font-weight: 800;
font-size: 14px;
color: #ffffff;
background-color: #0066CC;
padding: 10px 30px;
border: solid #0066cc 6px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}
*/


